@model IEnumerable<APL.BL.SFTS.DataBridgeZone.SP_FF_GET_CAMP_DATA>

<div style="height: 20px;"></div>

@if (Model != null)
{
    <label style="color:red; font-weight: bold">Total Record(s):  @Model.First().ROW_COUNT</label><label style="color:red; font-weight: bold">, </label>
                                <input id="uploadCode" hidden="hidden" value="@Model.First().UPLOAD_CODE" />
                                <input id="hTargetId" hidden="hidden" ng-model="hTargetId" />
                                <input id="hVersion" hidden="hidden" ng-model="hVersion" />
                                <table class="table table-striped table-fixed">
                                    <thead style="background-color: #ecf0f5">
                                        <tr>
                                            <th>SL</th>
                                            <th>DD CODE</th>
                                            <th>CAMP NAME</th>
                                            <th>TARGET</th>
                                            <th>ACHIEVEMENTS</th>
                                            <th>UPLOAD DATE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID </td>
                                                <td>@item.DD_CODE </td>
                                                <td>@item.TARGET </td>
                                                <td>@item.ACIEVEMENNTS </td>
                                                <td>@item.UPLOAD_DATE </td>

                                            </tr>
}
                                    </tbody>

                                </table>
}
