@model IEnumerable<APL.BL.SFTS.DataBridgeZone.SP_GET_FF_RSO_EARNING_SALAY_FILE>

<div style="height: 20px;"></div>

@if (Model != null)
{
    <label style="color:red; font-weight: bold">Total Record(s):  @Model.First().ROW_COUNT</label><label style="color:red; font-weight: bold">, Total Target Value:  @Model.First().TOTAL_SALARY_VALUE</label>
                                <input id="uploadCode" hidden="hidden" value="@Model.First().UPLOAD_CODE" />
                                <input id="hTargetId" hidden="hidden" ng-model="hTargetId" />
                                <input id="hVersion" hidden="hidden" ng-model="hVersion" />
                                <table class="table table-striped table-fixed">
                                    <thead style="background-color: #ecf0f5">
                                        <tr>
                                            <th>ROSCODE</th>
                                            <th>SALAY YEAR MONTH</th>
                                            <th>BANK NAME</th>
                                            <th>BANK AC</th>
                                            <th>DOB</th>
                                            <th>JOIN DATE</th>
                                            <th>WORKING DAY</th>
                                            <th>TOTAL SALARY</th>
                                            <th>VENDOR</th>
                                            <th>STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ROSCODE </td>
                                                <td>@item.SALAY_YEAR_MONTH </td>
                                                <td>@item.BANK_NAME </td>
                                                <td>@item.BANK_AC </td>
                                                <td>@item.DOB</td>
                                                <td>@item.JOIN_DATE</td>
                                                <td>@item.WORKING_DAY</td>
                                                <td>@item.TOTAL_SALARY<td>
                                                <td>@item.VENDOR</td>
                                                <td>@item.STATUS</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
}
